p {
    font-size: 16px;
}
#header {
    
    margin-top: 25px;
    padding: 10px 0px;
}

#name {
    /* font-family: 'Eagle Lake', cursive; */
    font-family: 'El Messiri', sans-serif;
    font-size: 40px;
    padding-right: 20px;
}

.content {
    margin-top: 30px;
}

#myImage {
    float: left;
    border-radius: 15px 25px;
    margin: 0 20px 15px 0;
    height: 200px;
    width: 200px;
}

.card-img-top {
    height: 200px;
    object-fit: cover;
    object-position: top;
}

.card {
    float: left;
    width: 500px;
    margin: 10px 25px;
}

.card-link {
    color: #073642;
}

.inner-body {
    height: 100px;
    overflow-y: scroll;
    margin-bottom: 10px;
}

#footer {
    text-align: center;
    margin-top: 50px;
    padding: 10px 0;
}

.fa-2x {
    margin: 10px;
}